@import 'tailwindcss';

@theme {

  /* colors */
  --color-primary: #ff6b6b; 
  --color-secondary: #43B3AB;
  --color-tertiary: #7C8E7C;
  --color-quaternary: #64403e;
  --color-lbackground: #f7f0f0;
  --color-project: #e6e3dc;
  --color-dtext: #201D1D;
  --color-ltext: #f7f0f0ff;
  --color-htext: #201D1D;
  --color-cborder: #24292e;

  /* brand colours */
  --color-docker: #1D63ED;
  --color-github: #24292e;
  --color-site: #354F52;

  /* fonts */
  --font-serif: 'Lora', serif; 
  --font-mono: 'Share Tech Mono', monospace; 
}

/* @theme { */
  /* --color-primary: #c37397;
  --color-secondary: #c5afc3;
  --color-tertiary: #ae9290;
  --color-quaternary: #ff9290;
  --color-lbackground: #fffcf4; */